#application-RaceAnalysis-display .sapFAvatarImageCover {
    background-size: auto;
}

.dataTrackImage{
    max-width: 485px;
    max-height: 350px;
}

.trajectoryTrackImage{
    max-width: 485px;
    max-height: 400px;
}